extends layout
block js
block content
  .content
    .item-page(itemscope='', itemtype='http://schema.org/Article')
      meta(itemprop='inLanguage', content='en-GB')
      div(itemprop='articleBody')
        p(style='text-align: center;')
          iframe(src='https://www.youtube.com/embed/M3dp2gwGxHs', width='576', height='351', frameborder='0', allowfullscreen='')
        p  
        p
          img(style='float: left;', src='/img/banners/logo.gif', alt='')
        p
          | Макрорегиональный филиал «СПАРК» Компании ТТК, одного из крупнейших федеральных операторов связи в России, предоставляет широкий спектр телекоммуникационных услуг для частных лиц и корпоративных клиентов на территории шести субъектов Российской Федерации: Брянской области (г. Брянск), Краснодарском крае (г. Краснодар, г. Новороссийск), Калужской области (г. Калуга, г. Обнинск), Рязанской области (г. Рязань), Ростовской области (г. Ростов-на-Дону, Таганрог, Волгодонск, Новочеркасск Азов), Тульской области (г. Тула).
        p
          | Компания постоянно выходит в новые регионы, расширяя зону покрытия своей телекоммуникационной инфраструктуры.
        p
          | На сегодняшний день Макрорегиональный филиал «СПАРК» Компании ТТК обслуживает крупные производственные предприятия и холдинги, банки и финансовые структуры, отдельные юридические и физические лица, а также операторов связи.
        p
          | Макрорегиональный филиал «СПАРК» Компании ТТК предоставляет обширный спектр услуг связи с использованием современных цифровых технологий:
        p
          | Высокоскоростной доступ к сети Интернет для физических и юридических лиц на базе собственной волоконно-оптической сети;
        p
          | Услуги VoIP-телефонии для местных, внутризоновых, междугородных и международных телефонных переговоров, а также для организации факсимильной связи;
        p Цифровое телевидение (свыше 100 самых востребованных и популярных ТВ-каналов).
        p
          | Помимо основных, абонентам Макрорегионального филиала «СПАРК» доступны дополнительные услуги и программы лояльности.
        p
          | Юридическим лицам предлагаются долгосрочные партнерские отношения: услуги организации высокоскоростного доступа в Интернет по технологии Ethernet, корпоративная телефонная связь, объединение офисов в единую сеть, размещение сервера клиента на технической площадке оператора, резервирование доменов третьего или второго уровней и широкий спектр дополнительных сервисов.
        h1 Преимущества работы с нашей компанией это:
        p Простое, быстрое и совершенно бесплатное подключение;
        p большой выбор практичных тарифных планов с доступными ценами;
        p квалифицированная круглосуточная техническая поддержка;
        p комплекс внутренних ресурсов на скорости до 100 Мбит/с;
        p
          | мультифункциональный, интуитивно понятный и удобный в обращении Личный кабинет абонента;
        p разнообразие дополнительных услуг, количество которых постоянно растет.
        h1 Лицензии
        p Лицензия № 119520 — услуги связи по предоставлению каналов связи;
        p Лицензия № 101276 — телематические услуги связи;
        p Лицензия № 94091 — услуги связи для целей кабельного вещания;
        p
          | Лицензия № 101275 — услуги связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации;
        p
          | Лицензия № 93779 — услуги связи по передаче данных для целей передачи голосовой информации;
        p Лицензия № 98160 — услуги междугородной и международной телефонной связи;
        p Лицензия № 98322 — услуги внутризоновой телефонной связи;
        p Лицензия № 99685 — услуги местной телефонной связи, за исключением услуг местной телефонной связи с использованием таксофонов и средств коллективного доступа.
