extends layout
block js
block title
  title Помощь
block content
  .content
    .item-page(itemscope='', itemtype='http://schema.org/Article')
      meta(itemprop='inLanguage', content='en-GB')
      div(itemprop='articleBody')
      h1 Помощь
      h2 Как отчистить историю браузера
      p
        | Кэш вашего браузера — это место, в котором браузер временно сохраняет информацию на компьютере. Кэш содержит копии элементов, загруженных вами из интернета, таких как веб-страницы, изображения, звуки, а иногда — файлы cookie. Сохранение этих элементов на жестком диске помогает ускорению загрузки веб-страниц при их следующем просмотре. Чем больше файлов можно загрузить с жесткого диска, тем быстрее браузер покажет веб-страницу. Иногда, если веб-страницы изменились с момента вашего последнего посещения, загрузка из кэша может привести к отображению устаревшей информации. Это также может негативно повлиять на работу сетевых приложений.
      p
        | При очистке кэша все файлы из него удаляются в корзину, вследствие чего браузер будет вынужден загружать новое содержимое веб-страниц.
      p
        | Эта процедура может устранить некоторые неполадки веб-страниц. Она также позволяет освободить место на жестком диске компьютера и повысить скорость работы браузера.
      p
        | Найти инструкцию по очистке именно вашего браузера можно, набрав в любом поисковике, например, в яндексе: Как очистить кэш в "Название вашего браузера".