doctype html
html
  head
    block title
      title Спарк. Высокоскоростной интернет.
    meta(charset="UTF-8")
    title Spark    
    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    link(rel="stylesheet", type="text/css", href="/css/common.css")
    link(rel="stylesheet", type="text/css", href="/modules/mod_ariimageslider/mod_ariimageslider/js/themes/nivo-slider.css")
    link(rel="stylesheet", type="text/css", href="/modules/mod_ariimageslider/mod_ariimageslider/js/themes/default/style.css")
    block css
      style #ais_89_wrapper,#ais_89{width:680px;height:200px;} 
    //-var name = user.name || user.login  
    body 
      .page
        .header
          span.logo
            a(href="/")
              img(src="/img/logospark.gif")
            a(href="/")
              img(src="/img/logottk.gif")
            img(src="/img/mode.gif")
          span.phone
            img(src="/img/phone.gif")
            span
              p.phone__label(style="color: #666;") Позвоните нам:
              p.phone__text(style="font-size: 22px;") 8(952) 600-12-09
          span.key
            if !user
              img(src="/img/key.gif")
              a(href="/auth") Авторизироваться
            else
              img(src="/img/user.png")
              -var name = user.name || user.login              
              a(href="#").menuHeader #{name}
              #menu
                span.menuItem
                  a(href="/cabinet/private/#{user.login}") Личный кабинет
                div.menuItem
                  a(href="/logout") Выход
          .header_top-menu
            span.header_top-menu-right-item
              a(href="/about") О компании
            span.header_top-menu-right-item
              a(href="/") Главная
        //-Боковая панель
        .nav
          block navbar
            if user 
              if user.type != 'admin'
                .nav_item
                  a(href="/cabinet/requests/new")
                    img.nav_active(src="/img/plugreda_new.jpg")
                    img.nav_inactive(src="/img/plugred_new.jpg")
              .nav_item
                a(href="/news")
                  img.nav_active(src="/img/newsa.gif")
                  img.nav_inactive(src="/img/news.gif")
                  span.nav_text Новости
              .nav_item
                a(href="/shares")
                  img.nav_active(src="/img/acta.gif")
                  img.nav_inactive(src="/img/act.gif")
                  span.nav_text Акции
              .nav_item
                a(href="/prices")
                  img.nav_active(src="/img/pricea.gif")
                  img.nav_inactive(src="/img/price.gif")
                  span.nav_text Тарифы
              .nav_item
                a(href="/tv")
                  img.nav_active(src="/img/comptva.gif")
                  img.nav_inactive(src="/img/comptv.gif")
                  span.nav_text Телевидение
              .nav_item
                a(href="/pay")
                  img.nav_active(src="/img/paya.gif")
                  img.nav_inactive(src="/img/pay.gif")
                  span.nav_text Способы оплаты
              .nav_item
                a(href="/help")
                  img.nav_active(src="/img/faqa.gif")
                  img.nav_inactive(src="/img/faq.gif")
                  span.nav_text Помощь
              .nav_item
                a(href="/contacts")
                  img.nav_active(src="/img/conta.gif")
                  img.nav_inactive(src="/img/cont.gif")
                  span.nav_text
                    | Контактная
                    br
                    | информация 
            else
              .nav_item
                a(href="/news")
                  img.nav_active(src="/img/newsa.gif")
                  img.nav_inactive(src="/img/news.gif")
                  span.nav_text Новости
              .nav_item
                a(href="/shares")
                  img.nav_active(src="/img/acta.gif")
                  img.nav_inactive(src="/img/act.gif")
                  span.nav_text Акции
              .nav_item
                a(href="/prices")
                  img.nav_active(src="/img/pricea.gif")
                  img.nav_inactive(src="/img/price.gif")
                  span.nav_text Тарифы
              .nav_item
                a(href="/tv")
                  img.nav_active(src="/img/comptva.gif")
                  img.nav_inactive(src="/img/comptv.gif")
                  span.nav_text Телевидение
              .nav_item
                a(href="/pay")
                  img.nav_active(src="/img/paya.gif")
                  img.nav_inactive(src="/img/pay.gif")
                  span.nav_text Способы оплаты
              .nav_item
                a(href="/help")
                  img.nav_active(src="/img/faqa.gif")
                  img.nav_inactive(src="/img/faq.gif")
                  span.nav_text Помощь
              .nav_item
                a(href="/contacts")
                  img.nav_active(src="/img/conta.gif")
                  img.nav_inactive(src="/img/cont.gif")
                  span.nav_text
                    | Контактная
                    br
                    | информация 
                   
      block content        
      .clear
      .footer
        p(style='text-align: center; margin-left: 300px; color: darkgray;').
          ©Филиал ЗАО «Компания ТрансТелеКом» «Макрорегион СПАРК», 2010—2015    
    script(type="application/javascript", src="/media/jui/js/jquery-2.1.4.min.js")    
    script(type="application/javascript", src="/js/common.js") 
    script(type="application/javascript").
      var menu = $('#menu');
      $('html').click(function(e) {  
        var target = jQuery(e.target); 
        
        if(!target.hasClass('menuHeader') )
        {
          menu.css('visibility', 'collapse');              
        }
      }); 
      $('.menuHeader').click(function(){
        if (menu.css('visibility') == 'visible'){
          menu.css('visibility', 'collapse');
        }
        else{
          menu.css('visibility', 'visible');
        }
      })
    block js