extends layout
block js
block title
  title Акции

block content
  .content
    .item-page(itemscope='', itemtype='http://schema.org/Article')
      meta(itemprop='inLanguage', content='en-GB')
      div(itemprop='articleBody')
        h1 Акции
        p
          img(src='/img/banners/680x200_wifirouter.jpg', alt='')
        h1 «Получай Wi-Fi»
        p
          strong
            | С 1 июня 2014 года по 31 февраля 2015 года для всех новых абонентов при подключении на наибольший по стоимости тарифный план основной линейки или соответствующий ему по скорости промо-тариф предоставляется в пользование Wi-fi роутер, по истечении 12 месяцев переходящий в собственность абонента.
        p
          | 1. Акция «Получай Wi-Fi» доступна для новых абонентов физических лиц, подключившихся в период проведения акции на наиболее дорогой по стоимости тарифный план основной линейки или соответствующий ему по скорости промо-тариф.
        p 2. Сроки проведения акции - с 01.06.2014 по 31.02.2015.
        p
          | 3. Абонентам-участникам акции предоставляется Wi-Fi роутер в пользование сроком на 1 год (12 месяцев) с момента подключения.
        p
          | 4. По истечении 11 месяцев, абонентская плата за 12-й месяц (частично или полностью) засчитывается, как стоимость оборудования.
        p
          | 5. По истечении 12-го месяца (с 1-го дня 13 месяца) оно переходит в собственность абонента.
        p
          | 6. Абонент имеет право получить в пользование на 12 месяцев Wi-Fi роутер из номенклатуры, имеющейся на складе.
        p
          | 7. Абонент должен подписать дополнительное соглашение с интернет-провайдером о порядке передачи и возврата предоставленного оборудования.
        p
          | 8. В случае отказа абонента в течение 12 (двенадцати) месяцев с момента подключения от услуг оператора, в том числе:
        ul
          li принятия решения о расторжении договора с оператором;
          li
            | отсутствия сетевой активности абонента и своевременной оплаты услуг оператора сроком больше 3 (трех) месяцев;
          li перехода абонента на иной (более дешевый) тарифный план;
          li
            | абонент обязуется вернуть оборудование оператору (по адресу фактического нахождения оператора) в течение 5 (пяти) календарных дней с момента наступления указанного выше события.
        p
          | 9. В случае невозврата указанного оборудования в течение указанного срока, утраты оборудования, возврата оборудования в неполной комплектации, а также возврата поврежденного оборудования, с лицевого счета абонента списывается полная стоимость оборудования в размере 1290 (одна тысяча двести девяносто) рублей 00 копеек, в том числе НДС (18%).
        p 10. Параметры тарифных планов основной линейки см. в разделе «Тарифы».
        p 11. Пакетные предложения под действие акции не попадают.
        p
          | 12. Акция действительна для первого подключения по адресу установки оборудования или если договор по адресу установки оборудования был расторгнут не позднее 1 мая 2014 года.
        p
          strong Период действия:
        p С 1 июня 2014 года по 31 февраля 2015 года
        p
          img(src='/img/banners/680x200_tuning.jpg', alt='')
        h1 «Прокачай тариф»
        p
          | 10%, 20%, 30% и, наконец.. 50%!!! Нет-нет, это никакая не скидка! Это гораздо лучше скидки – постоянное увеличение предельной скорости вашего интернета по акции «Прокачай тариф!»
        p
          | Всё, что нужно – быть подключенным к любому актуальному безлимитному тарифному плану федеральной линейки, в Личном кабинете в разделе "Бонусы и акции" зарегистрироваться в бонусной программе и «прокачивать» предельную скорость вашего интернета до нового уровня!
        p
          | С 4-го месяца +10%, с 6-го +20%, с 9-го + 30%, а через год после регистрации +50% к предельной скорости!
        p Апгрейд по-полной!
        p
          | 1. Участие в акции «Прокачай тариф» доступно для новых и существующих абонентов физических лиц.
        p 2. Сроки проведения акции - с 06.12.2013 по 31.12.2014. 
        p
          | 3. Абонентам, подключенным на тарифный план федеральной линейки и зарегистрированным в бонусной программе, первые три месяца предоставляется предельная скорость по условиям тарифа, далее – с четвертого по шестой, доступно повышение скорости на 10%, с шестого по девятый месяцы – на 20%, с девятого по двенадцатый месяцы – на 30% по отношению к базовой.
        p
          | 4. По истечении 12 месяцев с момента регистрации в бонусной программе, абоненту доступно повышение скорости доступа в Интернет на 50% по отношению к базовой скорости тарифного плана.
        p
          | 5. Активация каждого ускорения по истечении 3-х месяцев с момента регистрации в Личном кабинете будет проходить автоматически, с соответствующим уведомлением в бонусной программе.
        p
          | 6. При увеличении скорости доступа в Интернет до 100 Мбит/с – дальнейшее увеличение скорости прекращается. Предельное увеличение скорости доступа в Интернет составляет не более 100 Мбит/с.
        p
          | 7. При переходе на тариф вне федеральной линейки, либо при расторжении договора или блокировке, а также при переходе на более дешевый тариф федеральной линейки, бонусное увеличение скорости прекращается и начнется заново после повторной активации в Личном кабинете.
        p
          | 8. При переходе на тариф федеральной линейки равный или больше по стоимости, а также в случае заказа дополнительной услуги «Резервирование», «Кредит доверия» - бонусное увеличение скорости сохраняется.
        p
          | 9. Тарифные планы с изначальной предельной скоростью 100 Мбит/с, а также льготный тарифный план «Социальный» в акции не участвуют.
        p
          | 10. Акция является частью бонусной программы и начинает свое действие только после регистрации в бонусной программе.
        p
          | 11. Для абонентов, зарегистрированных в бонусной программе до начала действия акции «Прокачай тариф», расчет прироста предельной скорости начинается с 06.12.2013.
        p
          strong Период действия:
        p до 31.02.2015
    .spark-check-address__link Проверить адрес
    .spark-check-address
      .spark-check-address__form
        .spark-check-address__select-block
          select.spark-check-address__select.spark-check-address__city(tabindex='-1', style='display: none;')
            option
            option Таганрог
            option Ростов-на-Дону
            option Волгодонск
            option Цимлянск
            option Батайск
          span.select2.select2-container.select2-container--default(dir='ltr', style='width: 296px;')
            span.selection
              span.select2-selection.select2-selection--single(role='combobox', aria-autocomplete='list', aria-haspopup='true', aria-expanded='false', tabindex='0', aria-labelledby='select2-3mjh-container')
                span#select2-3mjh-container.select2-selection__rendered
                  span.select2-selection__placeholder Город
                span.select2-selection__arrow(role='presentation')
                  b(role='presentation')
            span.dropdown-wrapper(aria-hidden='true')
        .spark-check-address__select-block
          select.spark-check-address__select.spark-check-address__street(tabindex='-1', style='display: none;')
          span.select2.select2-container.select2-container--default(dir='ltr', style='width: 296px;')
            span.selection
              span.select2-selection.select2-selection--single(role='combobox', aria-autocomplete='list', aria-haspopup='true', aria-expanded='false', tabindex='0', aria-labelledby='select2-li9x-container')
                span#select2-li9x-container.select2-selection__rendered
                  span.select2-selection__placeholder Улица
                span.select2-selection__arrow(role='presentation')
                  b(role='presentation')
            span.dropdown-wrapper(aria-hidden='true')
        .spark-check-address__select-block
          select.spark-check-address__select.spark-check-address__house(tabindex='-1', style='display: none;')
          span.select2.select2-container.select2-container--default(dir='ltr', style='width: 296px;')
            span.selection
              span.select2-selection.select2-selection--single(role='combobox', aria-autocomplete='list', aria-haspopup='true', aria-expanded='false', tabindex='0', aria-labelledby='select2-g8dq-container')
                span#select2-g8dq-container.select2-selection__rendered
                  span.select2-selection__placeholder Дом
                span.select2-selection__arrow(role='presentation')
                  b(role='presentation')
            span.dropdown-wrapper(aria-hidden='true')
        input.spark-check-address__input.spark-check-address__request(type='button', value='Оставить заявку')
        input.spark-check-address__input.spark-check-address__close(type='button', value='Закрыть')
