extends layout
block js
block title
  title Телевидение
block content
  .content
    .item-page(itemscope='', itemtype='http://schema.org/Article')
      meta(itemprop='inLanguage', content='en-GB')
      div(itemprop='articleBody')
        p
          img(src='/img/banners/ttk-siberya-0-rub.jpg', alt='')
        p
          | Компания предоставляет более 100 каналов цифрового телевидения бесплатно. Через функцию Smart-TV вы сможете просматривать эти телеканалы на Вашем телевизоре. Также Вы можете взять в аренду нашу тв-приставку. Абонентская плата будет составлять 150 р./мес.
        h3 Список каналов
        table(border='1')
          tbody
            tr
              td
                strong Музыкальные
              td
                strong Детские
              td
                strong Познавательные
              td
                strong Фильмовые
              td
                strong Региональные
            tr
              td Bridge TV
              td Nickelodeon
              td РЖД ТВ
              td Sony Sci Fi
              td Татарстан-Новый век
            tr
              td A One
              td Детский Мир
              td Усадьба-ТВ
              td Universal Channel
              td  
            tr
              td Шансон
              td Карусель
              td Viasat History
              td TV 1000 Action
              td  
            tr
              td Ретро
              td Дисней
              td Viasat Explorer
              td TV 1000
              td  
            tr
              td Муз ТВ
              td Nick Junior
              td Viasat Nature
              td TV 1000 Русское Кино
              td  
            tr
              td Музыка Первого
              td Радость Моя
              td Моя Планета
              td Zee
              td  
            tr
              td VH1 Classic
              td Мать и дитя
              td National Geographic Char
              td SET
              td  
            tr
              td MTV Rocks
              td Детский
              td Nat Geo Wild
              td Кино ТВ
              td  
            tr
              td RU.TV
              td Мульт SD
              td Сарафан
              td Настоящее Страшное ТВ
              td  
            tr
              td  
              td  
              td Наука 2.0
              td Русский Бестселлер
              td
                strong Рекламно-информационные
            tr
              td  
              td  
              td Время
              td Русский Роман
              td TV MALL
            tr
              td  
              td  
              td 24 Техно
              td Кино Плюс
              td TOP SHOP
            tr
              td  
              td  
              td 24 док
              td СТС Love
              td  
            tr
              td  
              td  
              td Телекафе
              td Дом кино
              td  
            tr
              td  
              td  
              td Da Vinci Learning
              td Русский Детектив SD
              td  
            tr
              td  
              td  
              td НАНО ТВ
              td  
              td  
            tr
              td  
              td  
              td История
              td  
              td  
            tr
              td  
              td  
              td Nautical Channel
              td  
              td  
            tr
              td  
              td  
              td Кухня ТВ
              td  
              td  
            tr
              td  
              td  
              td Охота и Рыбалка
              td  
              td  
            tr
              td
                strong FULL-HD-каналы
              td
                strong Новостные
              td
                strong Спортивные
              td
                strong Развлекательные
              td
                strong Общедоступные
            tr
              td Первый канал HD
              td РБК-ТВ
              td КХЛ
              td 2х2
              td Россия 24
            tr
              td MTV HD
              td Дождь
              td Спорт Плюс
              td ТНТ
              td Россия К
            tr
              td Живи HD
              td Комсомольская правда
              td Viasat Sport
              td Перец
              td Россия 1
            tr
              td Россия HD
              td Мир 24
              td Россия 2
              td ПЯТНИЦА!
              td Звезда
            tr
              td Спорт 1 HD
              td PRO Бизнес
              td Спорт
              td Ю
              td ОТР
            tr
              td Travel + Advanture HD
              td  
              td Бойцовский Клуб
              td REN
              td
                p 5 канал
            tr
              td Paramount Comedy HD
              td  
              td Драйв
              td ТВ 3
              td НТВ
            tr
              td Иллюзион + HD
              td  
              td  
              td СТС
              td ТВ Центр
            tr
              td Русский Иллюзион HD
              td  
              td  
              td 8 телеканал
              td Первый
            tr
              td Мир HD
              td  
              td  
              td World Fashion Channel
              td  
            tr
              td Подмосковье 360 HD
              td  
              td  
              td Sony Turbo
              td  
            tr
              td  
              td  
              td  
              td E! Entertainment
              td  
            tr
              td  
              td  
              td  
              td Домашний
              td  
        